@import "tailwindcss";

@layer components {
  .btn-info-3d {
    @apply text-white font-bold 
    px-3 py-1 m-1 rounded 
    border-b-4 border-blue-600
  bg-blue-500
  hover:bg-blue-400
    hover:border-b-0
    cursor-pointer;
  }

  .list-item {
    @apply text-white hover:text-blue-500 font-bold px-3 py-1 m-1 cursor-pointer;
  }

  .text-sidebar {
    @apply text-stone-300
    font-semibold;
  }

  .item-sidebar {
    @apply flex items-center 
    justify-between 
    w-full 
    p-2 rounded-xl 
    hover:bg-gray-800;
  }
  .selected-sidebar {
    @apply text-blue-600
    bg-gray-800;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: oklch(13% 0.028 261.692);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: oklch(37.9% 0.146 265.522);
    border: 3px solid oklch(13% 0.028 261.692);
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: oklch(48.8% 0.243 264.376);
  }
}
