@import "tailwindcss";

@custom-variant light (&:where(.light, .light *));

html {
  scroll-behavior: smooth;
}

@layer components {

  /* Not in a Folder, just general utilities */

  .btn-info-3d {
    @apply text-white font-bold px-3 py-1 m-1 rounded border-b-4 border-blue-600 bg-blue-500 hover:bg-blue-400 hover:border-b-0 cursor-pointer;
  }

  .btn-info {
    @apply px-3 py-2 cursor-pointer rounded-xl transition-colors disabled:opacity-50 disabled:cursor-not-allowed bg-blue-600 hover:bg-blue-500
  }

  .list-item {
    @apply text-white hover:text-blue-500 transition-colors font-bold px-3 py-1 m-1 cursor-pointer whitespace-nowrap light:text-black light:hover:text-gray-300;
  }

  .item-sidebar {
    @apply flex items-center justify-between w-full p-2 rounded-xl hover:bg-gray-800;
  }

  .selected-sidebar {
    @apply text-blue-600 flex items-center justify-between w-full p-2 rounded-xl bg-gray-900;
  }

  .custom-transition {
    @apply transition duration-200
  }


  /* global components folder */

  .footer-bg{
    @apply flex justify-center items-center 
    bg-gray-950 text-gray-300 w-full
  }

  .loading-bg{
    @apply z-999 flex flex-col 
    justify-center items-center 
    fixed w-screen h-screen 
    bg-gray-900/75 overflow-hidden
  }
  .topbar-bg{
    @apply relative flex items-center h-16 px-4 z-10 w-full 
    light:bg-gray-500
  }
  .topbar-btn-group{
    @apply hidden md:flex absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 justify-center gap-6
  }
  .topbar-icons{
    @apply cursor-pointer text-white hover:text-blue-500 transition-colors 
    light:text-black 
    light:hover:text-gray-300
  }

  /* pages folder */

  .grid-layout{
    @apply grid h-screen grid-cols-[auto_minmax(0,1fr)] grid-rows-[minmax(0,1fr)_40px] gap-0
  }

  .landingpage-bg{
    @apply grid grid-cols-4 grid-rows-[auto_6fr_auto] min-h-screen gap-0
  }
  .landingpage-topbar-slot{
    @apply col-span-full bg-gray-950 flex items-center h-16 sticky top-0 z-10
  }
  .landingpage-body{
    @apply col-span-full bg-gray-950 flex flex-col items-center justify-start text-white
    light:bg-white
  }

  /* subcomponents/grid folder */

    /* subcomponents/grid/main_components folder */
    .header-container {
      @apply flex justify-center items-center;
    }
    .header-breadcrumb {
      @apply flex items-center text-gray-400 w-11/12 m-3;
    }
    .header-wrapper {
      @apply flex justify-center items-center 
      light:bg-white;
    }
    .header-content {
      @apply flex justify-between w-11/12 m-3;
    }
    .header-btn-submit{
      @apply flex px-3 py-2 cursor-pointer rounded-xl transition-colors bg-blue-600 
      hover:bg-blue-700
      disabled:opacity-50 disabled:cursor-not-allowed
    }

    .input-label{
      @apply bg-gray-900 w-19/20 cursor-pointer p-4 rounded-xl flex flex-col items-center gap-2
      light:bg-gray-400 
    }

    /* subcomponents/grid/sidebar_components folder */
    .filtermodal-bg-container{
      @apply fixed inset-0 z-100 flex items-center justify-center bg-black/50
    }
    .filtermodal-container{
      @apply flex flex-col md:gap-4 
      h-[80%] max-h-[80%] md:max-h-[80%] md:h-[80%] 
      w-100 md:w-150 md:max-w-lg max-w-md 
      overflow-hidden rounded-xl 
      bg-gray-900 shadow-2xl 
    }
    
    .sidebaritem-item {
      @apply flex items-center justify-between w-full p-2 rounded-xl hover:bg-gray-800;
    }

    .sidebaritem-selected {
      @apply text-blue-600 flex items-center justify-between w-full p-2 rounded-xl bg-gray-900;
    }

    /* subcomponents/landing folder */
    .about-container{
      @apply flex flex-col items-center justify-center m-12 
      light:text-black
    }
    .about-icon-container{
      @apply flex items-center justify-center border border-blue-500 p-2 mb-5
      rounded-3xl m-3 bg-blue-950 text-blue-600 font-bold 
      light:bg-blue-600 light:text-black light:border-blue-900
    }


  .mainpage-layout{
    @apply h-full
    bg-gray-950 
    text-white overflow-y-auto 
    light:bg-white
  }

  .sidebar-bg{
    @apply 
    h-full 
    bg-gray-950  
    flex justify-end 
    overflow-y-auto
    light:bg-white 
  }
  .sidebar-aside{
    @apply w-full 
  }
  .sidebar-text {
    @apply text-stone-300 font-semibold light:text-black
  }
}

@layer utilities {
  .feature-divider> :not(:last-child) {
    border-right: 4px solid;
    border-image: linear-gradient(to bottom,
        transparent,
        rgb(37 99 235),
        transparent) 1;
  }

  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: oklch(21% 0.034 264.665);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: oklch(37.9% 0.146 265.522);
    border: 3px solid oklch(21% 0.034 264.665);
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: oklch(48.8% 0.243 264.376);
  }
}